<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-139163911-5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'UA-139163911-5')
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=yes" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Nunito:400,700&amp;subset=japanese"
      rel="stylesheet"
    />
    <link rel="manifest" href="/manifest.json" />
    <link rel="manifest" href="manifest.webmanifest" />
    <!-- include PWACompat _after_ your manifest -->
    <script
      async
      src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js"
      integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc"
      crossorigin="anonymous"
    ></script>
    <title>rakudakko</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but rakudakko doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
