<template>
  <div>
    <my-header :has_back=true></my-header>
    <div class="contents">
      <div
        v-if="is_loading"
        class="loading"
      >
        <img src="@/assets/loading.gif">
      </div>
      <div v-else>
        <div
          v-if="companies.length == 0"
          class="no_company"
        >
          対象なし
        </div>
        <div
          v-else
          v-for="(company, index) in companies"
          :key="index"
        >
          <company-card :propCompany="company"></company-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyHeader from "@/components/MyHeader";
import companyCard from "@/components/CompanyCard.vue";
import firebase from "firebase";
export default {
  components: {
    companyCard,
    MyHeader
  },
  data() {
    return {
      is_loading: false,
      drive_area: this.$store.state.area,
      companies: this.$store.state.companies
    };
  },
  mounted() {
    window.scrollTo(0, 0);
    if (this.companies.length == 0) {
      this.get_companiesList();
    }
  },
  methods: {
    get_companiesList() {
      const self = this;
      this.is_loading = true;
      this.firestore = firebase.firestore();
      const companies_docs = this.firestore.collection("companies");

      // 会社詳細データを取得
      companies_docs
        .where("area_list." + self.$store.state.area, "==", true)
        .get()
        .then(docs => {
          this.is_loading = false;
          docs.forEach(doc => {
            self.companies.push(doc.data());
          });
          self.$store.commit("set_companies", self.companies);
        })
        .catch(error => {
          console.log("Error getting documents: ", error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.contents {
  text-align: center;
  margin-top: 1vh;
  .loading {
    line-height: 80vh;
  }
  .no_company {
    margin-top: 5vh;
    font-size: 1.5rem;
  }
}
</style>
