<template>
  <div>
    <my-header :has_back=true></my-header>
    <div
      class="company_edit"
      v-if="company != null"
    >

      <div
        class="checkbox01"
        v-for="(area, index) in area_all"
        :key="index"
      >
        <label>
          <input
            type="checkbox"
            name="checkbox01[]"
            class="checkbox01-input"
            v-model="area_list[area.cityName]"
          >
          <span class="checkbox01-parts">{{area.cityName}}</span>
        </label>
      </div>
      <!-- <div class="key"><img
        class="icon"
        src="../assets/time.png"
      >
      営業時間
    </div>

    <div class="item">
      {{company.business_hours}}
    </div>

    <div class="key">
      <img
        class="icon"
        src="../assets/price.png"
      >基本料金
    </div>
    <div class="item">
      {{company.basic_price}}
    </div>

    <div class="key"><img
        class="icon"
        src="../assets/website.png"
      >
      Webサイト
    </div>

    <div class="item">
      <a :href="company.url">
        <div class="url">{{company.url}}</div>
      </a>
    </div> -->

      <div
        class="send"
        @click="send()"
      >
        OK
      </div>
    </div>
  </div>
</template>

<script>
import MyHeader from "@/components/MyHeader";
import firebase from "firebase";
export default {
  components: {
    MyHeader
  },
  data() {
    return {
      company: null,
      firestore: firebase.firestore(),
      original_area_list: {},
      area_list: {}
    };
  },
  computed: {
    area_all() {
      let area_all_tmp = this.$store.state.area_all;
      area_all_tmp = this.sort(area_all_tmp);
      let area_all = [];
      area_all_tmp.forEach(area => {
        if (area.bigCityFlag != "2") {
          area_all.push(area);
        }
      });
      return area_all;
    }
  },
  mounted() {
    window.scrollTo(0, 0);
    this.company = this.$store.state.company;
    console.log("company: " + JSON.stringify(this.company));
    this.original_area_list = JSON.parse(
      JSON.stringify(this.company.area_list)
    );
    this.area_list = JSON.parse(JSON.stringify(this.company.area_list));
  },
  methods: {
    sort(area_all) {
      return area_all.sort((a, b) => {
        if (a.cityCode > b.cityCode) return 1;
        if (a.cityCode < b.cityCode) return -1;
        return 0;
      });
    },
    to_phone_number(number) {
      console.log("number: " + number);
      return "tel:" + number;
    },
    send() {
      const self = this;
      console.log(
        "this.original_area_list: " + JSON.stringify(this.original_area_list)
      );
      console.log("this.area_list: " + JSON.stringify(this.area_list));
      let new_area_list = {};
      for (const area in this.area_list) {
        if (this.area_list[area]) {
          new_area_list[area] = true;
        }
      }
      console.log("new_area_list: " + JSON.stringify(new_area_list));
      this.company.area_list = new_area_list;
      // 追加されていれば１足す
      for (const area in new_area_list) {
        let need_add = true;
        for (const original_area in this.original_area_list) {
          if (area == original_area) {
            need_add = false;
          }
        }
        if (need_add) {
          self.add_number_of_companies(area);
        }
      }
      // 削除されていれば１引く
      for (const original_area in this.original_area_list) {
        let need_subtract = true;
        for (const area in new_area_list) {
          if (area == original_area) {
            need_subtract = false;
          }
        }
        if (need_subtract) {
          self.subtract_number_of_companies(original_area);
        }
      }
      this.firestore
        .collection("companies")
        .doc(this.company.company_name)
        .set(this.company)
        .then(function() {
          console.log("[send] 成功！");
          self.$store.commit("set_companies", []);
          self.$router.go(-1);
        })
        .catch(function(error) {
          console.error("[send] 失敗！: ", error);
        });
    },
    // １足す
    async add_number_of_companies(cityName) {
      console.log("cityName: " + cityName);
      let city = {};
      let doc_id = null;
      // DBからデータを取得する
      await this.firestore
        .collection("cities")
        .where("cityName", "==", cityName)
        .get()
        .then(docs => {
          docs.forEach(doc => {
            console.log("[add_number_of_companies]get doc_id 成功: " + doc.id);
            doc_id = doc.id;
            city = doc.data();
          });
        })
        .catch(error => {
          console.log("[add_number_of_companies]get doc_id 失敗: ", error);
        });
      if ("number_of_companies" in city) {
      } else {
        city["number_of_companies"] = 0;
      }
      city["number_of_companies"] += 1;
      await this.firestore
        .collection("cities")
        .doc(doc_id)
        .set(city)
        .then(function() {
          console.log("[number_of_companies]完了！");
        })
        .catch(function(error) {
          console.error("[number_of_companies]失敗: ", error);
        });
    },
    // １引く
    async subtract_number_of_companies(cityName) {
      console.log("cityName: " + cityName);
      let city = {};
      let doc_id = null;
      // DBからデータを取得する
      await this.firestore
        .collection("cities")
        .where("cityName", "==", cityName)
        .get()
        .then(docs => {
          docs.forEach(doc => {
            console.log(
              "[subtract_number_of_companies]get doc_id 成功: " + doc.id
            );
            doc_id = doc.id;
            city = doc.data();
          });
        })
        .catch(error => {
          console.log("[subtract_number_of_companies]get doc_id 失敗: ", error);
        });
      city["number_of_companies"] -= 1;
      await this.firestore
        .collection("cities")
        .doc(doc_id)
        .set(city)
        .then(function() {
          console.log("[number_of_companies]完了！");
        })
        .catch(function(error) {
          console.error("[number_of_companies]失敗: ", error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.company_edit {
  margin: 4vh 0 23vh 5vw;
  // .key {
  //   text-align: left;
  //   font-size: 0.9rem;
  //   margin-top: 2vh;
  //   color: rgb(70, 70, 70);
  //   .icon {
  //     width: 15px;
  //     margin-right: 2vw;
  //   }
  // }
  // .item {
  //   text-align: left;
  //   font-size: 1.2rem;
  //   color: black;
  //   margin: 1vh 4vw 3vh 5vw;
  //   .url {
  //     display: inline-block;
  //   }
  // }
  // .input_item {
  //   margin: 0.5vh 100px 0.5vh 5vw;
  //   padding: 7px;
  //   background-color: rgb(255, 255, 255);
  //   box-shadow: 0 1px 2px rgb(150, 150, 150);
  // }
  .send {
    position: fixed;
    bottom: 90px;
    left: 15vw;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-size: 1.1rem;
    padding: 0.7rem;
    border-radius: 15px;
    color: white;
    background: #3ab795;
  }
}
.checkbox01 {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}
.checkbox01-input {
  display: none;
}
.checkbox01-parts {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
}
.checkbox01-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts {
  color: #009a9a;
}
.checkbox01-input:checked + .checkbox01-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}
.disable {
  opacity: 0.5;
}
</style>
