<template>
  <div id="deive_area_list">
    <my-header :has_back=true></my-header>

    <div
      v-if="is_loading"
      class="loading"
    >
      <img src="@/assets/loading.gif">
    </div>
    <div v-else>
      <div
        v-for="(area, index) in area_all"
        :key="index"
      >
        <div
          v-on:click="go_detail(area.cityName)"
          class="area_list_item"
          :class="is_big_city(area.bigCityFlag)"
        >
          {{area.cityName}}({{area.number_of_companies}})
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyHeader from "@/components/MyHeader";
import firebase from "firebase";
export default {
  components: {
    MyHeader
  },
  data() {
    return {
      is_loading: false
    };
  },
  computed: {
    area_all() {
      let area_all = this.$store.state.area_all;
      area_all = this.sort(area_all);
      return area_all;
    }
  },
  created() {
    // window.scrollTo(0, 0);
    this.get_cites();
  },
  methods: {
    get_cites() {
      console.log(
        "this.$store.state.user.pref: " + this.$store.state.user.pref
      );
      this.is_loading = true;
      this.firestore = firebase.firestore();
      this.firestore
        .collection("cities")
        .where("prefName", "==", this.$store.state.user.pref)
        .get()
        .then(docs => {
          let area_all = [];
          docs.forEach(doc => {
            console.log("doc.data(): " + JSON.stringify(doc.data()));
            area_all.push(doc.data());
          });
          this.$store.commit("set_area_all", area_all);
          this.is_loading = false;
        })
        .catch(error => {
          console.log("Error getting documents: ", error);
        });
    },
    sort(area_all) {
      return area_all.sort((a, b) => {
        if (a.cityCode > b.cityCode) return 1;
        if (a.cityCode < b.cityCode) return -1;
        return 0;
      });
    },
    is_big_city(bigCityFlag) {
      if (bigCityFlag == 2) {
        return "bicCity";
      } else if (bigCityFlag == 1) {
        return "smallCity";
      }
    },
    go_detail(area) {
      console.log("area: " + area);
      this.$store.commit("delete_companies");
      this.$store.commit("set_area", area);
      this.$router.push("companies");
    }
  }
};
</script>

<style  lang="scss" scoped>
#deive_area_list {
  background-color: white;
}
.area_list_item {
  text-align: left;
  height: 7vh;
  line-height: 7vh;
  padding-left: 3vw;
  margin: 0 3vw 0 3vw;
  border-bottom: solid 1px rgb(220, 220, 220);
}
.bicCity {
  font-weight: bold;
}
.smallCity {
  padding-left: 10vw;
}
.loading {
  text-align: center;
  line-height: 100vh;
}
</style>
