<template>
  <div class="home">
    <my-header></my-header>

    <div class="top">
      <img
        class="img"
        src="../assets/top.jpg"
      >
    </div>

    <div class="find_title">
      フリーワード検索
    </div>
    <div class="input_text">
      <label class="ef">
        <input
          type="text"
          placeholder="例：運転代行TOM"
          v-model="search_word"
        >
      </label>
    </div>
    <div
      class="btn"
      @click="go_SearchResult()"
    >
      検索
    </div>

    <div class="find_title">
      エリアから探す
    </div>
    <div class="finds">
      <div
        class="find"
        v-on:click='go_area_list()'
      >
        <img src="@/assets/train.jpg">
        <div class="text1">
          エリア一覧
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import companyCard from "@/components/CompanyCard.vue";
import MyHeader from "@/components/MyHeader";
import firebase from "firebase";
export default {
  components: {
    companyCard,
    MyHeader
  },
  data() {
    return {
      search_word: "",
      companies: []
    };
  },
  methods: {
    go_SearchResult() {
      this.$store.commit("set_search_word", this.search_word);
      this.$router.push("SearchResult");
    },
    get_companies() {
      const self = this;
      this.firestore = firebase.firestore();
      const companies_collection = this.firestore.collection("companies");

      // 会社コレクションの全ドキュメントを取得
      companies_collection
        .get()
        .then(docs => {
          docs.forEach(doc => {
            self.companies.push(doc.data());
          });
          console.log("self.companies: " + JSON.stringify(self.companies));
        })
        .catch(function(error) {
          console.log("Error getting documents: ", error);
        });
    },
    go_area_list() {
      if (this.$store.state.user.pref == "") {
        alert("マイページから都道府県を登録してね！");
        this.$router.push("myPage");
      } else {
        this.$router.push("driveAreaList");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  margin: 0;
  padding: 0;
}
.top {
  margin: 0;
  position: relative;
  .img {
    width: 100vw;
    display: inline-block;
    text-align: center;
    z-index: 10;
  }
}
.input_text {
  position: relative;
  width: 90%;
  margin: 10px auto 0 auto;
}
.input_text input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  transition: 0.3s;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: white;
}
.ef input[type="text"]:focus {
  outline: none;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.btn {
  width: 50px;
  margin: 10px auto 0 auto;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: #3ab795;
}
.find_title {
  font-weight: bold;
  text-align: left;
  margin: 2vh 0 0 2vw;
}
.finds {
  margin: 2vh 0 0 0;
  height: 100%;
  text-align: center;
  .find:nth-child(2) {
    margin: 0 3vw 0 3vw;
  }
  .find {
    display: inline-block;
    padding-bottom: 100%; // 横幅に合わせて正方形にする
    width: 28vw;
    padding: 2vh 3vw 3vh 3vw;
    background-color: white;
    border-radius: 40px;
    img {
      height: 5vh;
    }
    .text1 {
      font-weight: bold;
      font-size: 0.9rem;
    }
    .text2 {
      font-size: 0.6rem;
    }
  }
  .under_development {
    background-color: rgba(0, 0, 0, 0.54);
    opacity: 0.8;
  }
}
.dev_status {
  position: relative;
  .present_location {
    position: absolute;
    left: 44vw;
  }
  .history {
    position: absolute;
    left: 75vw;
  }
}
</style>
