<template>
  <div>
    <div id="container-login">
      <p>
        <label for="email-login">メールアドレス</label>
        <input
          id="email-login"
          type="email"
          placeholder="メールアドレスを入力してください"
        >
      </p>

      <p>
        <label for="password-login">パスワード</label>
        <input
          id="password-login"
          type="password"
          placeholder="パスワードを入力してください"
        >
      </p>

    </div>

    <div id="container-logout">
      <p id="status-user"></p>

      <v-btn
        id="submit-logout"
        v-on:click="Logout"
      >ログアウト</v-btn>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  created() {},
  methods: {
    Logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          alert("Logout!");
          this.$router.push("/");
        })
        .catch(error => {
          alert(error.message);
        });
    }
  }
};
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.signup {
  margin-top: 20px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
input {
  margin: 10px 0;
  padding: 10px;
}
</style>
