<template>
  <div>
    <div
      v-if="is_logined"
      class="signup"
    >
      <div>
        ログイン済みです！
      </div>
      <v-btn
        id="submit-logout"
        v-on:click="Logout"
      >ログアウト</v-btn>
    </div>

    <div
      v-else
      class="signup"
    >
      <h2>Sign up</h2>
      <v-form v-model="valid">
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          label="password"
          required
        ></v-text-field>
        <v-btn @click="signUp">Register</v-btn>
        <p>Do you have an account?
          <router-link to="/signin">sign in now!!</router-link>
        </p>
      </v-form>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  data() {
    return {
      valid: false,
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      password: "",
      is_logined: false
    };
  },
  mounted() {
    const self = this;
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        console.log("user: " + user);
        self.is_logined = true;
      }
    });
  },
  methods: {
    signUp() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(user => {
          console.log("アカウント作成完了！");
          alert("アカウント登録完了！");
          firebase
            .auth()
            .signInWithEmailAndPassword(this.email, this.password)
            .then(
              user => {
                this.$router.push("/");
              },
              err => {
                alert(err.message);
              }
            );
        })
        .catch(error => {
          alert(error.message);
        });
    },
    Logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push("/");
        })
        .catch(error => {
          alert(error.message);
        });
    }
  }
};
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.signup {
  margin-top: 20px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
input {
  margin: 10px 0;
  padding: 10px;
}
</style>
