<template>
  <div>
    <my-header :has_back=true></my-header>
    <div class="review_detail">

      <div class="key">ニックネーム</div>
      <div class="value">{{$store.state.review.nickname}}</div>
      <div class="key">レビュー</div>

      <div class="value">
        <star-rating
          v-model="$store.state.review.review_point"
          :star-size=20
          :read-only="true"
        ></star-rating>
      </div>
      <div class="key">タイトル</div>
      <div class="value">{{$store.state.review.message_title}}</div>
      <div class="key">内容</div>
      <div class="value">{{$store.state.review.message_detail}}</div>
      <div class="key">ご利用日</div>
      <div class="value">{{$store.state.review.usage_date}}</div>
    </div>

  </div>
</template>

<script>
import MyHeader from "@/components/MyHeader";
export default {
  components: {
    MyHeader
  },
  data() {
    return {};
  },
  created() {},
  methods: {}
};
</script>

<style lang="scss">
.review_detail {
  padding: 15px;
  .key {
    font-size: 1.2rem;
  }
  .value {
    margin-left: 10px;
  }
  .value + .key {
    margin-top: 20px;
  }
  .vue-star-rating-rating-text {
    display: none;
  }
}
</style>
