<template>
  <div id="write_review">
    <my-header :has_back=true></my-header>
    <loading :active.sync="isLoading"></loading>

    <div class="contents">

      <div class="company_name">
        {{$store.state.company.company_name}}
      </div>

      <div class="star">
        <star-rating
          v-model="review_point"
          :star-size=25
        ></star-rating>
      </div>

      <div class="title">
        <input
          type="text"
          v-model="message_title"
          placeholder="タイトルを入れてください"
        >
      </div>

      <div class="message_detail">
        <textarea
          v-model="message_detail"
          placeholder="口コミ本文を入れてください"
        ></textarea>
      </div>

      <div class="usage_date">
        ご利用年月日
        <input
          type="date"
          v-model="usage_date"
        >
      </div>

      <div
        v-on:click="post_review"
        class="send_btn"
      >
        レビューをかく
      </div>

    </div>
  </div>
</template>

<script>
import MyHeader from "@/components/MyHeader";
import firebase from "firebase";
export default {
  components: {
    MyHeader
  },
  data() {
    return {
      message_title: "",
      message_detail: "",
      firestore: firebase.firestore(),
      isLoading: false,
      review_point: 0,
      usage_date: ""
    };
  },
  created() {
    const today = new Date();
    const dd = String(today.getDate()).padStart(2, "0");
    const mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    const yyyy = today.getFullYear();
    this.usage_date = yyyy + "-" + mm + "-" + dd;
  },
  methods: {
    post_review() {
      const self = this;
      if (this.isLoading) return;
      this.isLoading = true;
      this.firestore
        .collection("review")
        .doc()
        .set({
          company_name: this.$store.state.company.company_name,
          nickname: this.$store.state.user.nickname,
          review_point: this.review_point,
          message_title: this.message_title,
          message_detail: this.message_detail,
          usage_date: this.usage_date,
          review_date: firebase.firestore.FieldValue.serverTimestamp()
        })
        .then(function() {
          console.log("post_review完了");
          self.set_number_of_reviews();
        })
        .catch(function(error) {
          self.isLoading = false;
          self.$router.go(-1);
          console.error("Error writing document: ", error);
        });
    },
    set_number_of_reviews() {
      const self = this;
      console.log("this.$store.state.company: " + this.$store.state.company);
      let company = this.$store.state.company;
      company.number_of_reviews += 1;
      this.firestore
        .collection("companies")
        .doc(this.$store.state.company.company_name)
        .set(company)
        .then(function() {
          self.isLoading = false;
          console.log("set_number_of_reviews　完了");
          self.$store.commit("set_companies", []);
          self.$router.go(-1);
        })
        .catch(function(error) {
          self.isLoading = false;
          console.error("Error writing document: ", error);
        });
    }
  }
};
</script>

<style lang="scss">
#write_review {
  .contents {
    margin-top: 1vh;
    .company_name {
      padding-left: 3vw;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .star {
      margin-top: 3vh;
      background-color: white;
      padding-left: 3vw;
      .vue-star-rating-rating-text {
        font-size: 1.6rem !important;
        margin-top: -2px !important;
        margin-left: 5vw !important;
      }
    }
    .title {
      margin-top: 1vh;
      background-color: white;
      padding-left: 3vw;
      height: 6vh;
      line-height: 6vh;
      input::placeholder {
        font-size: 1.3rem;
        opacity: 0.5;
      }
      input {
        width: 100%;
        height: 6vh;
        line-height: 6vh;
      }
    }
    .message_detail {
      margin-top: 1vh;
      background-color: white;
      padding-left: 3vw;
      height: 30vh;
      textarea::placeholder {
        font-size: 1.3rem;
        opacity: 0.5;
      }
      textarea {
        width: 100%;
        height: 100%;
      }
    }
    .usage_date {
      margin-top: 1vh;
      background-color: white;
      padding-left: 3vw;
      height: 6vh;
      line-height: 6vh;
      input {
        margin-left: 10vw;
        font-size: 1.2rem;
        height: 6vh;
        line-height: 6vh;
      }
    }
  }
}
</style>
