<template>
  <div id="">

  </div>
</template>

<script>
export default {
  data() {
    return {
      fromParent: this.propfromParent
    };
  },
  props: ["propfromParent"],
  methods: {}
};
</script>

<style lang="scss" scoped>
</style>
